#  No llevamos al repositorio las carpetas
# $ Documentación
# $ Tutorial Python 3 (videos)

#  Excluimos también el fichero de códigos de Github
github-recovery-codes.txt

# Documentación Python
/Documentos_Ayuda/Libros
/Documentos_Ayuda/Video*


#  archivos __pycache__
**/__pycache__

# Pruebas
/Pruebas